.menu__btn{
    display: inline-flex;
    margin: 0;
    padding: 0;
    line-height: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-self: end;

    @media screen  and (min-width:768px) {
        display: none;
    }
}

.menu-btn-close{

    display: inline-flex;
  
    margin: 0;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;


}


.mobile-menu{
 
position: fixed;
z-index: 100;
left: 0;
top: 0;
width: 100vw;
height: 100vh;
background: #fff;

opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 500ms linear, visibility 500ms linear;

 
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.mobile-menu__conteiner{
 position: relative;
 padding-top: 48px;
 padding-left: 40px;


}


.mobile-site-nav{
    margin-bottom: 306px;

}

.site-nav__mobile{
   height: 48px;
   font-size: 40px; 
   line-height: 1.17;
   letter-spacing: 0.02em;

   color: #212121;
}


.mobile-auth-nav{
    margin-top: 362px;
    margin-left: -40px;
}


.auth-nav__mobile{
    width: 296px;
    height: 40px;
    left: 40px;
  

    font-size: 34px;
    line-height: 1.18;
    
    color: #2196F3;
    padding: 32px;
}

.contacts-mobile-tel{
    @include font(34px , 500, 1.17) ;
    letter-spacing: 0.02em;
    color: var(--accent-color);
        
}

.contacts-mobil-mail{
    @include font(24px, 500, 1.16);
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}


.mobile-social{
    padding-top: 64px;
    margin-left: -40px;
}
.mobile-menu__social{
   
    display: inline-flex;
    justify-content: space-between;
    height: 22px;
    left: 40px;
    margin-top: 164px;

    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: #2196F3;

}

.menu-icons__mobile{
    margin-left: 20px;
}

.social-icons-menu::after{
    position: relative;
    left: 10px;

   

}

.line:after {
    content: "";
    
    width: 22px;
    height: 0px;
    margin-right: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    
}
