.footer {
    display: -webkit-box;
    display: -ms-flexbox;
   display: block;

    width: 100%;
  text-align: center;
   
   


   
@media screen and(min-width:1200px){
  height: 225px;
display: inline-flex;

align-items: center;
text-align: left;
  
}

  }
  
  .content__footer {
   
   
    @media screen and (min-width:480px){
      text-align: center;
    
    }
       

    @media screen and (min-width:1200px){
   margin-right: 10px;
   text-align: left;
 /*     
    -ms-flex-preferred-size: calc((50% - 45px)/2);
        flex-basis: calc((50% - 45px)/2);*/
  }


}
  .content__footer:last-child {
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
  }


  .dark__bg-footer {
    height: 603px;
    background-color: var(--dark-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    

    @media screen and (min-width:1200px) {
      height: auto;
      
    }
  }

  .footer__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
   
  }


  .logo__footer {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--dark);

    @media screen and(min-width:480) {

    }
    }



  .footer__tablet{
  
    @media screen and(min-width:768px) {
      display: flex;
      justify-content: space-between;
  
      
    }

    @media screen and(min-width:1200px) {
    
    flex-basis: calc(50% - 15px);
   
    }
  }
  
   .subscribe-us .mail{
 @media screen and (min-width: 480px) {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 00.03);
    filter: drop-shadow (0px, 4px, 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
   }
  }

  /*
   .subscribe-us .mail:focus{
    @media screen and (min-width: 480px) {
      border: var(--accent-color);
  
    }
  }*/
 
 