.header {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
  }
  
  .header__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
          
 

     @media screen and (min-width: 480px) {
       width: auto;
       height: 60px;
       justify-content: space-between;
     }
     @media screen and (min-width: 768px) {
     
      width: auto;
      height: 80px;
      
    }

     @media screen and (min-width: 1200px) {
     
       width: auto;
       height: 80px;
       
     }
  }
  
  .header__logo {
    margin-right: 50px;
  }

  
  
  
 .header__contacts-wrap {
   

    @media screen and (max-width: 767.98px) {
      display: block;
    
    }

  @media screen  and (min-widht: 1200px){
    display: flex;
    
  }
    }


   .portfolio-conteiner{
 
     border-bottom: 1px solid var(--border);


   }
/*
   .portfolio-conteiner::after{
     position: absolute;
    left:0;
    right: 0;
     content: "";
    display: block;
     height: 80px;
     border-bottom: 1px solid var(--border);
   
   }*/