.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1600px;
  

  margin-left: auto;
  margin-right: auto;

  background: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;

  @media screen and (min-width: 280px){
    height: 400px;
    background-image:  url(../images/mobile/heder-mobile.jpg);

  }


}
@media screen and  (min-device-pixel-ratio:2) and (min-width: 280px) , 
 screen and (min-resolution: 192dpi)and (min-width: 280px) , 
 screen and (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: url(../images/mobile/heder-mobile@2x.jpg);
   
  }
}


@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/tablet/header-tablet.jpg);
    height: 400px;
    width: 100%;

  }
  
}

@media  screen and (min-device-pixel-ratio:2) and (min-width: 768px) , 
 screen and (min-resolution: 192dpi)and (min-width: 768px) , 
 screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url(../images/tablet/header-teblet@2x.jpg);
    height: 400px;
  width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/desktop/heder-desktop.jpg);
    height: 600px;
    
  }
}

@media  screen and (min-device-pixel-ratio:2) and (min-width: 1200px) , 
 screen and (min-resolution: 192dpi)and (min-width: 1200px) , 
 screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero { 
    background-image: url(../images/desktop/heder-desktop@2x.jpg);
  }
}



.hero:after{
  background:rgba(47, 48, 58, 0.4); 
}

.hero__conteiner{
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 480px) {
    width: 393px;
    
  }

  
  @media screen and (min-width: 1200px) {
    width: 696px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

}