.section {
    padding-top: 60px;
    padding-bottom: 60px;


    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  .section__advantages{
   /* padding-left: 15px;*/

    @media screen  and(min-width: 768px){
     flex-basis: calc((100% - 60px) /2);
     margin-left: 30px;
      
    }
  }

  .dark-bg-section{
   
    background-color: var(--light-bg-color) ;


    @media screen and (min-width: 480px){
      height: 2761px;
      padding-top: 60px;
      
    }

    @media screen and (min-width: 768px){
      height: 1285px;
      
      
    }

    @media screen and (min-width: 1200px){
      height: 708px;
      padding-top: 94px;
    }
  }